@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
}

@layer base {
    :root {
        --rotate: 360deg

        --background: hsl(0 0% 100%);
        --foreground: hsl(233, 100%, 5%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(233 10% 3.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(233 10% 3.9%);

        --primary: hsl(233 5.9% 10%);
        --primary-foreground: hsl(0 0% 98%);

        --secondary: hsl(233 4.8% 95.9%);
        --secondary-foreground: hsl(233 5.9% 10%);

        --muted: hsl(233 4.8% 95.9%);
        --muted-foreground: hsl(233 3.8% 46.1%);

        --accent: hsl(233 4.8% 95.9%);
        --accent-foreground: hsl(233 5.9% 10%);

        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(233 5.9% 90%);
        --input: hsl(233 5.9% 90%);
        --ring: hsl(233 10% 3.9%);

        --radius: hsl(0.5rem);

        --skeleton: hsl(231, 38%, 14%) 0%;

    }

    .dark {
        --background: hsl(233, 100%, 5%);
        --foreground: hsl(0, 0%, 98%);

        --card: hsl(233 10% 3.9%);
        --card-foreground: hsl(0 0% 98%);

        --popover: hsl(233 10% 3.9%);
        --popover-foreground: hsl(0 0% 98%);

        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(233 5.9% 10%);

        --secondary: hsl(233 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);

        --muted: hsl(233 3.7% 15.9%);
        --muted-foreground: hsl(233 5% 64.9%);

        --accent: hsl(233 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);

        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(233 3.7% 15.9%);
        --input: hsl(233 3.7% 15.9%);
        --ring: hsl(233 4.9% 83.9%);

        --radius: hsl(0.5rem);

        --skeleton: hsl(231, 38%, 14%);
    }
}

@layer base {
    body {
        @apply h-screen;
    }

    * {
        /* @apply border-border !scroll-smooth; */
        @apply dark:text-white-300 text-black-200;
    }

    path {
        @apply themed-text-icons;
    }
}

@layer utilities {
    .skeleton-container-dark {
        animation: skeleton-pulse-dark 2s ease-in-out infinite;
    }
    
    @keyframes skeleton-pulse-dark {
        0% {
            transform: scale(0.99);
            background-color: hsl(231, 38%, 14%);
            opacity: 1;
        }

        70% {
            transform: scale(1);
            background-color: hsl(231, 38%, 14%);
            opacity: .6;
        }

        100% {
            transform: scale(0.99);
            background-color: hsl(231, 38%, 14%);
            opacity: 1;
        }

    }

    .skeleton-container-light {
        animation: skeleton-pulse-light 2s ease-in-out infinite;
    }

    @keyframes skeleton-pulse-light {
        0% {
            transform: scale(0.99);
            background-color: hsl(264, 43%, 70%);
            opacity: .6;
        }
        
        70% {
            transform: scale(1);
            background-color: hsl(264, 43%, 70%);
            opacity: .3;
        }
        
        100% {
            transform: scale(0.99);
            background-color: hsl(264, 43%, 70%);
            opacity: .6;
        }
    }

    .content-container {
        @apply w-full md:max-w-[60rem] lg:max-w-[75rem] xl:max-w-[90rem];
    }

    .themed-text-icons {
        @apply text-neutral-600 dark:text-neutral-200 border-neutral-600 dark:border-neutral-200;
    }

    .responsive-icons {
        @apply w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 xl:w-12 xl:h-12;
    }

    .grid-item-header {
        @apply text-sm md:text-lg lg:text-xl xl:text-2xl font-bold;
    }

    .grid-description-text {
        @apply text-sm md:text-lg xl:text-xl tracking-wider;   
    }

    .cp-button {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    .center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .icon-bg-dark {
        background: radial-gradient(
            ellipse,
            rgba(145, 100, 213, 0.8) 1%,
            rgba(72, 46, 158, 1) 100%
        );
    }

    .icon-bg-light {
        background: radial-gradient(
            ellipse,
            rgba(255, 255, 255, 0.8) 1%,
            rgb(190, 184, 201) 100%
        );
    }

    .radial-gradient {
        background: radial-gradient(
            circle at 0% 0%,
            rgba(250, 250, 250, 1) 0%,
            transparent 100%
        ), rgba(15, 15, 15, 1);
    }

    .btn-gradient {
        background: linear-gradient(
            90deg,
            rgba(22, 26, 49, 1) 0%,
            rgba(6, 9, 31, 1) 100%
        );
    }

    .btn-gradient-light {
        background: linear-gradient(
            -90deg,
            rgba(235, 235, 235, 1) 0%,
            rgb(212, 202, 232) 100%
            /* rgba(203, 172, 249, 1) 0%, */
        );
    }

    .header-gradient-light {
        background: radial-gradient(
            ellipse,
            rgb(252, 243, 255) 12%,
            rgb(227, 213, 246) 72%
        );
    }

    .header-gradient-dark {
        background: radial-gradient(
            ellipse,
            rgba(72, 46, 158, 0.9489846964176295) 12%,
            rgba(1, 8, 25, 0.96) 72%
        );
    }

    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .text-balance {
        text-wrap: balance;
    }
}
